h1 {
    color: white;
}

main {
    background-color: rgb(54, 28, 84);
}

input {
    background-color: rgb(161, 151, 173);
}

textarea {
   background-color: rgb(161, 151, 173);
}

label {
    color: white;
}

button {
    color: white;
    background-color:blue
}

select {
    background-color: rgb(161, 151, 173);
}