*::selection{
    background-color: purple;
}

#herobutton {
    background-color: #4262FF;
    color: white;
}

#herobutton:hover {
    background-color: #4262;
}

button {
    background-color: #FFFFFF;
}

#herobutton:active {
    background-color: #b5f013;
}

.heroForm input:focus{
    background-color: #b5f013;
}


h1{
    font-size: 58px;
    width: 1162px;
    height: 72px;
    padding: 10px 10px 10px 10px;
    color: #050038;
    margin-left: 40px;
}

h2{
    font-size: 42px;
    width: 1200px;
    height: 72px;
    padding: 10px 10px 10px 10px;
    color: #050038;
    margin-left: 3px;
}


.heroText{

    font-weight: 400;
    font-size: 18px;
    width: 516px;
    height: 155px;
    line-height: 24px;
    color: #050038;
}


.link{
    color: #4262FF;
    text-decoration: underline;
}

.link:hover {
    color: #0a1c78;
}

header a{
    padding: 115px 115px 115px 115px;
}

.heroForm + p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #050038;
}

    nav ul {
        list-style: none ;
    }

    .sectionList {
        list-style-type: none;
    }

    .sectionList li::marker {
        content: url('../resource2/free-icon-check-mark-5290058.png');
    }

   
    .ExperimetnRed {
        background: red;
    }

    .ExperimetnBlue {
        background:white;
        width: 400px;
        height: 100px;
        color: rgb(12, 12, 12);
        padding: 10px 20px;
        margin: 3px;
    }

    .miro1{
    font-size: 16px;
    height: 48px;
    line-height: 40px;
    color: #050038;
    }

    .miro2{
        font-size: 16px;
    height: 48px;
    line-height: 40px;
    color: #050038;
    }


    
 